# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production builds
dist/
build/
target/

# Misc
.DS_Store
*.pem
*.log
.env
.env.local
.env.*.local

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Tauri specific
desktop/src-tauri/target/
desktop/src-tauri/gen/
*.exe
*.dmg
*.app
*.AppImage
*.deb

# WASM / generated
*.wasm

# Logs
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*